<div class="header">
  <h1 class="title">
    第7回しゅが研 リーグ表
  </h1>
</div>

<div class="main">
  <div class="league-table">
    <table border="2" bordercolor="black" style="border-collapse: collapse">
      <tr class="top-tr">
        <th class="rank-title">順位</th>
        <th class="member-title">メンバー</th>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <th class="win-count-title">勝</th>
        <th class="lose-count-title">負</th>
        <th class="sb-count-title">SB</th>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td class=""></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="win-count"></td>
        <td class="lose-count"></td>
        <td class="sb-count"></td>
      </tr>
    </table>
  </div>

  <div class="member-list">
    <h2 class="member-list-title">
      メンバー紹介
    </h2>
    <table border="2" bordercolor="black" style="border-collapse: collapse" class="league-table">
      <tr class="member-info">
        <th class="member">メンバー</th>
        <th class="account">アカウント</th>
        <th class="achievement">実績</th>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    </div>
  </div>
</div>