<div class="header">
  <h1 class="title">
    第7回しゅが研 リーグ表
  </h1>
</div>

<div class="main">
  <div class="league-table">
    <table id="winorlose_table" border="2" bordercolor="black" style="border-collapse: collapse">
      <tr class="top-tr">
        <th class="rank-title">順位</th>
        <th class="member-title">メンバー</th>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <td class="opponent-name"></td>
        <th class="win-count-title">勝</th>
        <th class="lose-count-title">負</th>
        <th class="sb-count-title">SB</th>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_1_1"></td>
        <td id="cell_1_2"></td>
        <td id="cell_1_3"></td>
        <td id="cell_1_4"></td>
        <td id="cell_1_5"></td>
        <td id="cell_1_6"></td>
        <td id="cell_1_7"></td>
        <td id="cell_1_8"></td>
        <td id="cell_1_9"></td>
        <td id="cell_1_10"></td>
        <td id="win_1">0</td>
        <td id="lose_1">0</td>
        <td id="sb-1">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_2_1"></td>
        <td id="cell_2_2"></td>
        <td id="cell_2_3"></td>
        <td id="cell_2_4"></td>
        <td id="cell_2_5"></td>
        <td id="cell_2_6"></td>
        <td id="cell_2_7"></td>
        <td id="cell_2_8"></td>
        <td id="cell_2_9"></td>
        <td id="cell_2_10"></td>
        <td id="win_2">0</td>
        <td id="lose_2">0</td>
        <td id="sb-2">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_3_1"></td>
        <td id="cell_3_2"></td>
        <td id="cell_3_3"></td>
        <td id="cell_3_4"></td>
        <td id="cell_3_5"></td>
        <td id="cell_3_6"></td>
        <td id="cell_3_7"></td>
        <td id="cell_3_8"></td>
        <td id="cell_3_9"></td>
        <td id="cell_3_10"></td>
        <td id="win_3">0</td>
        <td id="lose_3">0</td>
        <td id="sb-3">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_4_1"></td>
        <td id="cell_4_2"></td>
        <td id="cell_4_3"></td>
        <td id="cell_4_4"></td>
        <td id="cell_4_5"></td>
        <td id="cell_4_6"></td>
        <td id="cell_4_7"></td>
        <td id="cell_4_8"></td>
        <td id="cell_4_9"></td>
        <td id="cell_4_10"></td>
        <td id="win_4">0</td>
        <td id="lose_4">0</td>
        <td id="sb-4">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_5_1"></td>
        <td id="cell_5_2"></td>
        <td id="cell_5_3"></td>
        <td id="cell_5_4"></td>
        <td id="cell_5_5"></td>
        <td id="cell_5_6"></td>
        <td id="cell_5_7"></td>
        <td id="cell_5_8"></td>
        <td id="cell_5_9"></td>
        <td id="cell_5_10"></td>
        <td id="win_5">0</td>
        <td id="lose_5">0</td>
        <td id="sb-5">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_6_1"></td>
        <td id="cell_6_2"></td>
        <td id="cell_6_3"></td>
        <td id="cell_6_4"></td>
        <td id="cell_6_5"></td>
        <td id="cell_6_6"></td>
        <td id="cell_6_7"></td>
        <td id="cell_6_8"></td>
        <td id="cell_6_9"></td>
        <td id="cell_6_10"></td>
        <td id="win_6">0</td>
        <td id="lose_6">0</td>
        <td id="sb-6">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_7_1"></td>
        <td id="cell_7_2"></td>
        <td id="cell_7_3"></td>
        <td id="cell_7_4"></td>
        <td id="cell_7_5"></td>
        <td id="cell_7_6"></td>
        <td id="cell_7_7"></td>
        <td id="cell_7_8"></td>
        <td id="cell_7_9"></td>
        <td id="cell_7_10"></td>
        <td id="win_7">0</td>
        <td id="lose_7">0</td>
        <td id="sb-7">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_8_1"></td>
        <td id="cell_8_2"></td>
        <td id="cell_8_3"></td>
        <td id="cell_8_4"></td>
        <td id="cell_8_5"></td>
        <td id="cell_8_6"></td>
        <td id="cell_8_7"></td>
        <td id="cell_8_8"></td>
        <td id="cell_8_9"></td>
        <td id="cell_8_10"></td>
        <td id="win_8">0</td>
        <td id="lose_8">0</td>
        <td id="sb-8">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_9_1"></td>
        <td id="cell_9_2"></td>
        <td id="cell_9_3"></td>
        <td id="cell_9_4"></td>
        <td id="cell_9_5"></td>
        <td id="cell_9_6"></td>
        <td id="cell_9_7"></td>
        <td id="cell_9_8"></td>
        <td id="cell_9_9"></td>
        <td id="cell_9_10"></td>
        <td id="win_9">0</td>
        <td id="lose_9">0</td>
        <td id="sb-9">0</td>
      </tr>
      <tr class="result-cells">
        <td class="rank"></td>
        <td class="self-name"></td>
        <td id="cell_10_1"></td>
        <td id="cell_10_2"></td>
        <td id="cell_10_3"></td>
        <td id="cell_10_4"></td>
        <td id="cell_10_5"></td>
        <td id="cell_10_6"></td>
        <td id="cell_10_7"></td>
        <td id="cell_10_8"></td>
        <td id="cell_10_9"></td>
        <td id="cell_10_10"></td>
        <td id="win_10">0</td>
        <td id="lose_10">0</td>
        <td id="sb-10">0</td>
      </tr>
    </table>
  </div>

  <div class="member-list">
    <h2 class="member-list-title">
      メンバー紹介
    </h2>
    <table border="2" bordercolor="black" style="border-collapse: collapse" class="league-table">
      <tr class="member-info">
        <th class="member">メンバー</th>
        <th class="account">アカウント</th>
        <th class="achievement">実績</th>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="member-introduction">
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    </div>
  </div>
</div>