.header {
  margin: 20px;
}

.main {
  margin: 20px;
}

.league-table td {
  text-align: center;
}

// 対角線
tr.result-cells:nth-child(2) > td:nth-child(3),
tr.result-cells:nth-child(3) > td:nth-child(4),
tr.result-cells:nth-child(4) > td:nth-child(5),
tr.result-cells:nth-child(5) > td:nth-child(6),
tr.result-cells:nth-child(6) > td:nth-child(7),
tr.result-cells:nth-child(7) > td:nth-child(8),
tr.result-cells:nth-child(8) > td:nth-child(9),
tr.result-cells:nth-child(9) > td:nth-child(10),
tr.result-cells:nth-child(10) > td:nth-child(11),
tr.result-cells:nth-child(11) > td:nth-child(12){
  background-image: linear-gradient(to top right, transparent, transparent 48%, black 49%, black 51%, transparent 52%, transparent);
}

.top-tr {
  height: 30px;
}

.rank-title {
  width: 50px;
  background-color: #FFFFAA;
}

.member-title {
  width: 80px;
  background-color: #EEEEEE;
}

.opponent-name {
  width: 80px;
  background-color: #EEEEEE;
}

.win-count-title {
  width: 50px;
  background-color: #FFD5EC;
}

.lose-count-title {
  width: 50px;
  background-color: #D9E5FF;
}

.sb-count-title {
  width: 50px;
  background-color: #F3FFD8;
}

.win-count {

}

.lose-count {

}

.result-cells {
  height:40px ;
}

.result-cells td {
}

.self-name {
  height:40px ;
  background-color: #EEEEEE;
}

.member-list {
  margin-top: 30px;
}

.member-list-title {
  margin-bottom: 10px;
}

.member-info {
  height: 30px;
}

.member {
  width: 100px;
  text-align: center;
  background-color: #EEEEEE;
}

.account {
  width: 150px;
  text-align: center;
}

.achievement {
  width: 500px;
  text-align: center;
}

.member-introduction {
  height: 30px;
}

.member-introduction td {
  padding-left: 5px;
}