.header {
  margin: 20px;
}

.main {
  margin: 20px;
}

.league-table {
  margin-top: 20px;
}

.league-table-title {
  margin-bottom: 5px;
}

.league-table td {
  text-align: center;
}

// 対角線を引く対象となるtdを選定
.op_1,
.op_2,
.op_3,
.op_4,
.op_5,
.op_6,
.op_7,
.op_8,
.op_9,
.op_10 {
  // background-image: linear-gradient(to top right, transparent, transparent 48%, black 49%, black 51%, transparent 52%, transparent);
}

.top-title {
  height: 30px;
}

.rank-title {
  width: 50px;
  background-color: #FFFFAA;
}

.player-title {
  width: 80px;
  background-color: #EEEEEE;
}

.opponent-name {
  width: 80px;
  background-color: #EEEEEE;
}

.win-count-title {
  width: 50px;
  background-color: #FFD5EC;
}

.lose-count-title {
  width: 50px;
  background-color: #D9E5FF;
}

.sb-count-title {
  width: 50px;
  background-color: #F3FFD8;
}

.win-count {

}

.lose-count {

}

.result-cells {
  height:40px ;
}

.result-cells td {
}

.self-name {
  height:40px ;
  background-color: #EEEEEE;
}

.member-list {
  margin-top: 30px;
}

.member-list-title {
  margin-bottom: 5px;
}

.member-info {
  height: 30px;
}

.member-title {
  width: 100px;
  text-align: center;
  background-color: #EEEEEE;
}

.account-title {
  width: 150px;
  text-align: center;
}

.achievement-title {
  width: 500px;
  text-align: center;
}

.member-introduction td {
  height: 30px;
}